
<table>
  <thead>
  <tr>
    <th><%= link_to 'Countries', countries_path %></th>
    <th><%= link_to 'Makes', makes_path %></th>
    <th><%= link_to 'Cars', cars_path %></th>
    <th><%= link_to 'Parts', parts_path %></th>

  </tr>
  </thead>
</table>

<h1>New Part</h1>

<%= render 'form', part: @part %>

<%= link_to 'Back', parts_path %>
