<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th><%= link_to 'Countries', countries_path %></th>
    <th><%= link_to 'Makes', makes_path %></th>
    <th><%= link_to 'Cars', cars_path %></th>
    <th><%= link_to 'Parts', parts_path %></th>

  </tr>
  </thead>
</table>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Cars:</strong>
<ul>
  <% @part.cars.each do |car| %>
    <li><%= car.name %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
