<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th><%= link_to 'Countries', countries_path %></th>
    <th><%= link_to 'Makes', makes_path %></th>
    <th><%= link_to 'Cars', cars_path %></th>
    <th><%= link_to 'Parts', parts_path %></th>
    <th><%= link_to 'Log out', destroy_user_session_path, method: :delete %></th>
  </tr>
  </thead>
</table>

<table>
  <thead>
  <tr>
    <th>Name:</th>
    <td><%= @make.name %></td>
    <th>Models</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td>
      <ol>
        <% @make.cars.each do |car| %>
          <li> <%= car.name %>
        <% end %>
      </ol>
    </td>
  </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_make_path(@make) %> |
<%= link_to 'Back', makes_path %>
