<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th><%= link_to 'Countries', countries_path %></th>
    <th><%= link_to 'Makes', makes_path %></th>
    <th><%= link_to 'Cars', cars_path %></th>
    <th><%= link_to 'Parts', parts_path %></th>

  </tr>
  </thead>
</table>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make.name %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Parts:</strong>
  <ul>
    <% @car.parts.each do |part| %>
      <li><%= part.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
